---
layout: default
permalink: /
---

<header class="ui-menu">
  <div class="ui-menu__logo">
    <a href="{% if site.lang == 'en' %}/{% else if site.lang == 'fr' %}/fr/{% endif %}" rel="index">
      <img src="/static/img/ceclogo.svg" class="logo__img">
    </a>
  </div>
  <nav class="ui-nav">
    <ul>
      {% for link in site.data[site.lang].navbar %}
        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
<section class="ui-section" id="home">
  <div class="ui-section__item">
    {% include nameplate.html %}
  </div>
</section>
<ul class="stat-banner">
  {% for stat in site.data[site.lang].stats %}
    <li class="stat-banner__block">
      <span class="stat-banner__number">{{ stat.number }}</span>
      <span class="stat-banner__label">{{ stat.label }}</span>
    </li>
  {% endfor %}
</ul>
<section class="ui-section" id="{% t about.section_id %}">
  <div class="ui-section__item">
    <h1>
      <span class="type-headline">{% t about.headline_one %}</span>
      <span class="type-headline">{% t about.headline_two %}</span>
    </h1>
    <p>{% t about.description_one %}</p>
    <p>{% t about.description_two %}</p>
  </div>
</section>
<section class="ui-section" id="{% t categories.section_id %}">
  <div class="ui-section__item">
    <h1>{% t categories.title %}</h1>
    <ul class="category-grid">
      {% for category in site.translations[site.lang].categories_list %}
      <li class="category-grid__item">
        <h2 class="category__title">{{ category.title }}</h2>
        <p class="category__desc">{{ category.description }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
<section class="ui-section" id="{% t schedule.section_id %}">
  <div class="ui-section__item">
    <h1>{% t schedule.title %}</h1>
    <img src="{% t schedule.schedule_1 %}" class="schedule">
    <img src="{% t schedule.schedule_2 %}" class="schedule">
  </div>
</section>
<section class="ui-section" id="{% t sponsorship.section_id %}">
  <div class="ui-section__item">
    <div class="ui-stack">
      <div class="ui-stack__item">
        <h1>{% t sponsorship.title %}</h1>
        <p>{% t sponsorship.description_one %}</p>
        <p>{% t sponsorship.description_two %}</p>
        <div class="btn-group">
          <a href="mailto:sponsorship@cec.cfes.ca" class="btn btn--primary">{% t buttons.become_sponsor %}</a>
          <a href="https://drive.google.com/file/d/1jxu_40nOXZ2uRXy8TdEOmqJ6ibR_Aj62/view" class="btn btn--link">{% t buttons.view_sponsor_package %}</a>
        </div>
      </div>
      <div class="ui-stack__item" id="sponsorship-partners">
        <h1>{% t sponsorship.partners_section %}</h1>
        <ul>
          <li><a href="https://uwaterloo.ca/engineering/"><img src="/static/img/sponsor-uweng.png"></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
