<section class="ui-section" id="about">
  <h1>
    <span class="type-headline">Canada's premier engineering competition is back,</span>
    <span class="type-headline">hosted by the nation's most innovative university.</span>
  </h1>
  <p>
    The Canadian Engineering Competition (CEC) is Canada's premier competition for undergraduate engineering students. Since its inception in 1985, CEC has invited the top 150 engineering students each year to compete in one of eight exciting competition categories.
  </p>
  <p>
    In order to qualify, students must first win in an intra-university competition, and then achieve top place in their respective 
    <a href="http://wesst.ca/wec.html">Western</a>, 
    <a href="https://oec2018.ca/">Ontario</a>, 
    <a href="http://cqi-qec.qc.ca/2018/en/">Québec</a>, and 
    <a href="https://www.aces-caeg.com/events">Atlantic</a> 
    regional competitions. In 2019, the culmination of those efforts will bring competitors to showcase their skills at the University of Waterloo in the heart of our nation's tech and innovation hub.</p>
</section>
