<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% t site.title %}</title>

  {% seo title=false %}

  <link rel="icon" type="image/png" href="{{ site.favicon }}">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/flipclock.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i,800,800i" rel="stylesheet">
  <link href="/static/stylesheets/landing.css" rel="stylesheet">
  <link href="/static/stylesheets/flipclock.css" rel="stylesheet">

  <script type="text/javascript">
    var clock;

    $(document).ready(function() {
      // Grab the current date
      var currentDate = new Date();

      // Set some date in the future. In this case, it's always Jan 1
      var futureDate  = new Date(currentDate.getFullYear(), 2, 1);

      // Calculate the difference in seconds between the future and current date
      var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

      // Instantiate a coutdown FlipClock
      clock = $('.clock').FlipClock(diff, {
        clockFace: 'DailyCounter',
        countdown: true
      });
    });
  </script>
</head>
