<svg xmlns="http://www.w3.org/2000/svg" width="490" height="149">
  <g fill="#14181F" fill-rule="evenodd">
    <text font-family="Avenir-Black, Avenir" font-size="105" font-weight="700">
      <tspan x="0" y="105">CEC 2019</tspan>
    </text>
    <g font-family="Avenir-Heavy, Avenir" font-size="20" font-weight="600">
      <text transform="translate(5 117)">
        <tspan x="211.76" y="20">UNIVERSITY OF WATERLOO</tspan>
      </text>
      <text transform="translate(5 117)">
        <tspan x="0" y="20">MARCH 1 – 4, 2019</tspan>
      </text>
      <text transform="translate(5 117)">
        <tspan x="193" y="20">•</tspan>
      </text>
    </g>
  </g>
</svg>
