.btn {
  @include type-body;

  display: inline-block;
}

.btn--primary {
  padding: 1em 2em;
  background: color(navy);
  border-radius: 4em;
  color: color(sky, light);
  font-weight: 700;
  text-decoration: none;
}

.btn--link {
  color: color(navy);
}

.btn-group {
  margin: 2em 0;
}
