.ui-layout {
  width: 100%;
  height: auto;
  padding: 10vh 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.ui-section {
  width: 80%;
  height: 80%;
  margin: 12.5% auto;
}
