#sponsorship,
#partenariat {
  background: color(sky, lighter);
}

.ui-stack {
  margin-bottom: 4rem;

  @media (min-width: 768px) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
  }
}

.ui-stack__item {
  width: 100%;
  margin-bottom: 4rem;

  @media (min-width: 768px) {
    width: calc(50% - 2rem);
    margin-bottom: 0;
  }
}

#sponsorship-partners {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
